<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header('View Post')"></head>
<body>
<div th:replace="/fragments/navbar :: navbar"></div>
<h1>View Post</h1>

<div id="blog-post">
    <h3 th:text="${post.title}"></h3>
    <!--<hr/>-->
    <p th:text="${post.body}"></p>
</div>

<form th:action="@{/posts/delete}" th:method="POST">
    <button th:value="${post.id}" th:name="id">
        Delete Post
    </button>
</form>


<div th:replace="/fragments/scripts :: scripts"></div>


</body>
</html>