<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"></head>
<body>
<th:block th:fragment="navbar">
    <nav id="myNavBar">
        <ul>
            <li class=""><a th:href="@{/home}">Home</a></li>
            <li class=""><a th:href="@{/work/index}">Work</a></li>
            <li class=""><a th:href="@{/posts}">Blog</a></li>
            <li class=""><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>
</th:block>
</body>
</html>