<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="/fragments/header :: header('Blog')"></head>-->
<!--<body>-->
    <!--<div th:replace="/fragments/navbar :: navbar"></div>-->
    <!--<h1>Blog</h1>-->

    <!--<th:block th:each="post : ${posts}">-->
        <!--<div id="blog-post">-->
            <!--<a th:href="@{/posts/{id}(id=${post.id})}"><h3 th:text="${post.title}"></h3></a>-->
            <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
            <!--<p th:text="${post.body}"></p>-->
        <!--</div>-->
    <!--</th:block>-->


    <!--<div th:replace="/fragments/scripts :: scripts"></div>-->


<!--</body>-->
<!--</html>-->